
.container-1 {
    background-image: url('./image/game_svg.svg');
    height: 90vh;
    width: 40rem;
    background-repeat: no-repeat;
}

.css-hip9hq-MuiPaper-root-MuiAppBar-root{
    background-color: #0c0534!important;
}
